<!-- -*- mode: jinja2; -*- -->
<!DOCTYPE html>

<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
  <head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    <!-- Using the latest rendering mode for IE, actually I don't care about window's user.... -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Favicons are a touchy subject. For reasoning for the following code, see: http://stackoverflow.com/a/23851464/872397 #}
    {% if FAVICON %}
      <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
    {% endif %}

    {% block canonical_rel %}{% endblock %}

    {% block meta %}
      <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/blogit.min.css" type="text/css"/>

    {# rss/atom #}
    {% include 'includes/feeds.html' %}

    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/blogit.min.js" type="text/javascript"></script>


  </head>
  <body>
    {# navigator #}
    {% include 'navigator.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 center-block">
          {% block breadcrumbs %}
          {% endblock %}

          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% include 'footer.html' %}

    {% include 'includes/ga.html' %}

    {% block scripts %}{% endblock %}
    {# <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/blogit.min.js" type="text/javascript"></script> #}
  </body>
</html>
