<!-- -*- mode: jinja2; -*- -->
<div id="footer">
  <div class="container text-center">
    <hr>
    <div class="row">

      {# Copyright #}
      <p>
        Copyright &copy 2013 - <script type="text/javascript"> document.write(new Date().getFullYear()); </script>  <a href="http://github.com/coldnew" target="_blank"> Yen-Chin, Lee </a>
        &middot;
        Powered by <a href="https://github.com/coldnew/emacs-blogit" target="_blank">emacs-blogit</a> and <a href="https://github.com/coldnew/org-pelican" target="_blank">org-pelican</a>
      </p>

    </div>
  </div>
</div> {# #footer #}
